*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    background-image: url(../images/landing_bg1.png);
}

.container{
    height: 60vh;
    width: 40vw;
    position: absolute;
    top: 50vh;
    left: 40vw;
    transform: translate(-50%, -50%);
    perspective: 1500px;
}

@keyframes animate{
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    75%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
}


.box{
    height: 350px;
    width: 350px;
    position: absolute;
    top: 100px;
    left: 100px;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
    animation: animate 10s infinite;
    margin-top: 2rem;
}
.cubeFormation{
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50px;
    left: 100px;
    margin-top: 2rem;
}

.card{
    height: 350px;
    width: 350px;
    text-align: center;
    padding: 140px 0px;
    color: #232554;
    background: #a1e2fd;
    border: 2px solid #444bc7;
    font-size: 32px;
    box-sizing: border-box;
    position: absolute;
    /* box-shadow: 0 0 20px #0f8088, 0 0 10px #a1e2fd, 0 0 10px #a1e2fd; */
}

#front{
    transform: translateZ(175px);
}

#back{
    transform: translateZ(-175px);
}

#left{
    right: 175px;
    transform: rotateY(-90deg);
}

#right{
    left: 175px;
    transform: rotateY(90deg);
}

#top{
    bottom: 175px;
    transform: rotateX(90deg);
}

#bottom{
    top: 175px;
    transform: rotateX(-90deg);
}

input {
    height: 50px;
    width: 100px;
    background-color: #a1e2fd;
    border: none;
    font-size: 22px;
    cursor: pointer;
    position: relative; /* Change from absolute to relative */
    top: 0; /* Remove top offset */
    left: 0; /* Remove left offset */
    margin-top: 20px; /* Adjust margin-top as needed to create space */
    z-index: 1; /* Ensure the input is below the popup content */
}

.animateBox #front {
    transform: translateZ(200px) rotateY(360deg);
}

.animateBox #back {
    transform: translateZ(-200px) rotateY(360deg);
}

.animateBox #top {
    bottom: 200px;
}

.animateBox #bottom {
    top: 200px;
}

.animateBox #left {
    right: 200px;
}

.animateBox #right {
    left: 200px;
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 15px;
}