body{
    background-image: url('../images/landing_bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.landing{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.landing h1{
    font-size: 3.5rem;
    font-weight: bolder;
    color: #a1e2fd;
}

.landing h2{
    font-size: 3rem;
    font-weight: bolder;
    color: #a1e2fd;
}

input{
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.landing button{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: #255784;
    background: #a1e2fd;
    box-shadow: 0 0 10px #0f8088, 0 0 40px #a1e2fd, 0 0 80px #a1e2fd;
    transition-delay: 1s;
    border: 0px;
    font-size: 1.2rem;
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #a1e2fd;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    border: 5px solid #a1e2fd;
}

a:hover {
    color: #255784;
    background: #a1e2fd;
    box-shadow: 0 0 10px #0f8088, 0 0 40px #a1e2fd, 0 0 80px #a1e2fd;
    transition-delay: 1s;
    border: 0px;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a1e2fd);
}



a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a1e2fd);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a1e2fd);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a1e2fd);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.popup{
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(161, 226, 253, 0.7);
    box-shadow: 0 0 10px #0f8088, 0 0 10px #a1e2fd, 0 0 20px #a1e2fd;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: fit-content;
    margin-top: 2rem;
    display: none;
}

#popup{
    margin: 0 0 0 50rem;
    right: 0px;
    bottom: 0px;
}

.popup .instruct_p{
    width: 100%;
    font-weight: 400;
    font-size: large;
    text-align: left;
}

.popup .character{
    text-align: right;
    width: 35%;
}

.popup .character img{
    width: 100%;
    right:0px;
    text-align: right;
}

#instruct a{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: #a1e2fd;
    background: #255784;
    transition-delay: 1s;
    border: 0px;
    font-size: 1rem;
}

#derivation_box{
    left: 0px;
    top: 0px;
    margin: 0 50rem 25rem 0;
}

.line{
    position: relative;
    width: 100%;
    /* border-right: 2px solid white; */
    /* white-space: nowrap; */
    overflow: hidden;
    transform: translateY(-50%);
    font-size: 1.45rem;
    margin:0;
    margin-top: 2rem;
    /* color: #f0e969; */
  }

  .anim-typewriter{
  animation: typewriter 10s steps(40) 1s 1 normal both
  blinkTextCursor 500ms steps(40) infinite normal;

}

@keyframes typewriter{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
  }
  
  @keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255, 255, 255, 1);
    }
    to{
        border-right-color: transparent;
    }
  }